* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: azure
}

html,
body {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid rgba(255, 136, 0, 0.555);
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: flex-end;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.titre {
    position: absolute;
    margin-left: 150px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.iim {
    margin-left: 15px;
}

.para {
    display: flex;
    margin: 45px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(112, 112, 112, 0.482);
    border-radius: 50px;
}

.lumiere {
    display: flex;
    margin: 45px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(112, 112, 112, 0.482);
    border-radius: 50px;
}

.fantasy {
    display: flex;
    margin: 45px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(112, 112, 112, 0.482);
    border-radius: 50px;
}

.archi {
    display: flex;
    margin: 45px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(112, 112, 112, 0.482);
    border-radius: 50px;
}

.texte {
    margin-left: 40px;
}

.texte2 {
    margin-right: 40px;
    text-align: end;
}

video {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(112, 112, 112, 0.482);
}

.photo {
    display: flex;
    align-items: flex-start;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(112, 112, 112, 0.482);
}

.interieurarchi {
    border-radius: 20px;
}

.heroicfantasy {
    border-radius: 20px;
}

@media screen and (max-width:950px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iim {
        margin-bottom: 100px;
        margin-left: 0px;
    }

    .titre {
        margin-top: 125px;
        margin-left: 0px;
    }

    .para {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .photo {
        width: 250px;
        height: auto;
    }

    h2 {
        margin-bottom: 20px;
    }
    
    .texte {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }

    .lumiere {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
    }

    video {
        width: 500px;
        height: auto;
    }

    h3 {
        margin-bottom: 20px;
    }

    .interieurarchi {
        width: 500px;
        height: auto;
    }

    .archi {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .interieurarchi{
        width: 700px;
    }

    .texte2 {
        margin-bottom: 20px;
        text-align: start;
    }

    .fantasy {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
    }
    h5 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:550px) {
    .titre {
        margin-left: 0px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texte {
        text-align: center;
        justify-content: center;
    }

    video {
        width: 400px;
        margin-top: 30px;
    }

    .interieurarchi {
        width: 400px;
        margin-bottom: 30px;
    }

    .texte2 {
        text-align: center;
        justify-content: center;
    }

    .heroicfantasy {
        width: 400px;
        margin-top: 30px;
    }
}

@media screen and (max-width:1100px) {
    .texte {
        justify-content: center;
        text-align: center;
        margin: 20px;
    }
    
    .texte2 {
        justify-content: center;
        text-align: center;
        margin: 20px;
    }

    .para {
        border-radius: 10px;
    }

    .lumiere {
        border-radius: 10px;
    }

    .archi {
        border-radius: 10px;
    }

    .fantasy {
        border-radius: 10px;
    }
}

@media screen and (max-width:768px) {
    .photo {
        margin-top: 20px;
    }
    
    video {
        margin-top: 20px;
    }
    
    .interieurarchi {
        width: 638px;
        margin-bottom: 20px;
    }

    .heroicfantasy {
        width: 638px;
        margin-top: 20px;
    }
}

@media screen and (max-width:375px) {
    video {
        width: 275px;
    }

    .interieurarchi {
        width: 275px;
    }
    .heroicfantasy {
        width: 275px;
    }
}